.friends-tabs {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: var(--background-color);
  border-color: rgba(255, 255, 255, 0.158);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  z-index: 10;
}

.friends-tabs button {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friends-tabs button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.friends-active {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}

.friends-tabs.friends-active {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}

.friends-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 10px;
  align-self: center;
  position: relative;
  cursor: default;
}

.friends-header img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.friends-tabs button img {
  height: 20px;
  width: 20px;
  margin-left: 8px;
  vertical-align: middle;
}

.friends-header-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: var(--accent-color);
  cursor: pointer;
  position: relative;
}

.friends-header-name img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.friends-profile-menu {
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.158);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 120px;
}

.friend-item {
  padding: 10px 15px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: rgba(255, 255, 255, 0.11);
  border-color: rgba(255, 255, 255, 0.158);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.friend-item:hover {
  background: rgba(255, 255, 255, 0.329);
}

.friend-list {
  margin: 10px;
  padding: 0px;
  list-style: none;
}

.friend-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  text-wrap: nowrap;
}

.friend-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  vertical-align: middle;
}

.friend-username {
  font-size: 1rem;
  color: var(--text-color);
  opacity: 0.7;
}

.friend-status {
  font-size: 1rem;
  font-weight: 500;
  margin-left: auto;
}

.friend-offline {
  color: var(--text-color);
  opacity: 0.6;
}

.friend-pic.friend-online {
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: green;
}

.friend-pic.friend-offline {
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: gray;
}

.friends-profile-username {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  padding: 10px 10px;
  align-self: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.158);
  width: 100%;
}

.friend-status-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.friend-status-actions button {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friend-status-actions button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.friend-item-pending {
  padding: 10px 15px;
  color: var(--text-color);
  transition: background-color 0.3s ease;
  background: rgba(255, 255, 255, 0.11);
  border-color: rgba(255, 255, 255, 0.158);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  width: 500px;
  align-items: center;
  justify-content: center;
}
.search-bar input {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  border-color: rgba(255, 255, 255, 0.247);
  color: var(--text-color);
}

.search-bar input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.726);
}

.search-bar button {
  width: 20%;
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.friend-list p {
  color: var(--text-color);
}

.friends-whole {
  display: flex;
}

.friends-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.friends-header.tablet {
  border-color: var(--secondary-color);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  padding: 5px;
}

.friends-nav-center {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1200px) {
  .friends-tabs {
    gap: 10px;
    align-items: center;
  }

  .friends-tabs button {
    padding: 0px 10px;
    font-size: 0.9rem;
    height: 30px;
  }

  .friends-tabs button img {
    height: 16px;
    width: 16px;
    margin-left: 4px;
  }

  .friends-header-name {
    height: 38px;
    font-size: 1rem;
  }

  .friends-header {
    font-size: 1.2rem;
    margin-right: 0px;
  }

  .friends-header img {
    height: 28px;
    width: 28px;
  }
}

@media (max-width: 800px) {
  .friends-header-username {
    display: none;
  }

  .friends-header-name {
    margin-left: 0px;
  }

  .friends-tabs {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .friends-header {
    display: none;
  }

  .friends-header.tablet {
    display: block;
  }

  .friend-name {
    font-size: 1.2rem;
  }

  .friend-image {
    height: 30px;
    width: 30px;
  }

  .friend-username {
    font-size: 0.9rem;
  }

  .friend-status {
    font-size: 0.7rem;
  }

  .friend-status-actions button {
    padding: 5px 5px;
    font-size: 0.8rem;
  }

  .friend-status-actions {
    gap: 5px;
  }

  .search-bar {
    width: 90%;
  }

  .search-bar button {
    min-width: 84px;
  }
}

@media (max-width: 450px) {
  .add-friend-class {
    font-size: 0px !important;
  }

  .add-friend-class img {
    margin: 0px !important;
  }
}
