.messages-container {
  width: 400px;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.247);
  background-color: var(--background-color);
  overflow-y: auto;
  z-index: 1;
}

.messages-header {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
}

.messages-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.messages-header p {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
}

.messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages-name {
  font-weight: bold;
  color: var(--text-color);
  align-self: center;
}

.messages-pic {
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 50%;
}

.messages-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
  cursor: pointer;
  transition: background-color 0.3s;
}

.messages-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

.content {
  flex: 1;
  overflow: hidden;
}

.message-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: var(--background-color);
  padding: 10px 40px;
  border-radius: 0px 0px 20px 20px;
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534);
}

.message-header-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  padding: 10px 15px;
  color: var(--text-color);
  max-width: 780px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.message-content::-webkit-scrollbar {
  width: 8px;
}

.message-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.message-content::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
}

.message-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.message-content-wrapper {
  overflow: hidden;
  flex: 1;
  display: flex;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.message-text {
  margin: 0;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.message-textarea {
  width: 100%;
  max-width: 780px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.247);
  background-color: var(--input-bg);
  color: var(--text-color);
  resize: none;
  font-size: 1rem;
}

.message-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.message-textarea::-webkit-scrollbar {
  width: 8px;
}

.message-textarea::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.message-textarea::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
}

.message-textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.message-textarea-wrapper {
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  display: flex;
  max-width: 800px;
  width: 100%;
}

.message-send-button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
}
.message-send-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.message-bubble.received {
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 80%;
}

.message-bubble.sent {
  margin-left: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 80%;
}

.message-text-content {
  margin: 0;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  border-radius: 25px 25px 25px 0px;
  margin-bottom: 5px;
  width: fit-content;
  text-align: justify;
  max-width: 90%;
  overflow-wrap: break-word;
}

.message-bubble.sent .message-text-content {
  background-color: var(--accent-color);
  border-radius: 25px 25px 0px 25px;
  margin-left: auto;
}

.message-timestamp {
  font-size: 0.75rem;
  color: var(--text-color);
  opacity: 0.75;
}

.message-bubble.sent .message-timestamp {
  align-self: flex-end;
}

.message-indicator {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.message-indicator:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.typing-indicator {
  display: flex;
  gap: 0px; /* space between dots */
  align-items: center;
  height: 1rem;
  font-size: 16px;
}

.typing-indicator span {
  display: block;
  width: 1rem; /* small dot width relative to font */
  height: 1rem;
  background-color: var(--text-color); /* dot color */
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
  transform: scale(0.5);
}

/* Stagger the animation for each dot */
.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}
.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

/* Bounce animation */
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(0.5);
    opacity: 1;
  }
}
