:root {
  --primary-color: #95d0e9;
  --secondary-color: #1d2c89;
  --accent-color: #584dda;
  --background-color: #0e0e10;
  --text-color: #e8f5fa;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background-image: url("../assets/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
